.u-{
  &mt{
    &-0{
      margin-top: 0;
    }
    &-1{
      margin-top: .33rem;
    }
    &-2{
      margin-top: .66rem;
    }
    &-3{
      margin-top: 1rem;
    }
    &-4{
      margin-top: 1.33rem;
    }
    &-5{
      margin-top: 1.66rem;
    }
  }
  &mb{
    &-0{
      margin-bottom: 0;
    }
    &-1{
      margin-bottom: .33rem;
    }
    &-2{
      margin-bottom: .66rem;
    }
    &-3{
      margin-bottom: 1rem;
    }
    &-4{
      margin-bottom: 1.33rem;
    }
    &-5{
      margin-bottom: 1.66rem;
    }
  }
  &mr{
    &-0{
      margin-right: 0;
    }
    &-1{
      margin-right: .33rem;
    }
    &-2{
      margin-right: .66rem;
    }
    &-3{
      margin-right: 1rem;
    }
    &-4{
      margin-right: 1.33rem;
    }
    &-5{
      margin-right: 1.66rem;
    }
  }
  &ml{
    &-0{
      margin-left: 0;
    }
    &-1{
      margin-left: .33rem;
    }
    &-2{
      margin-left: .66rem;
    }
    &-3{
      margin-left: 1rem;
    }
    &-4{
      margin-left: 1.33rem;
    }
    &-5{
      margin-left: 1.66rem;
    }
  }
  &mx{
    &-0{
      margin-left: 0;
      margin-right: 0;
    }
    &-1{
      margin-left: .33rem;
      margin-right: .33rem;
    }
    &-2{
      margin-left: .66rem;
      margin-right: .66rem;
    }
    &-3{
      margin-left: 1rem;
      margin-right: 1rem;
    }
    &-4{
      margin-left: 1.33rem;
      margin-right: 1.33rem;
    }
    &-5{
      margin-left: 1.66rem;
      margin-right: 1.66rem;
    }
  }
  &my{
    &-0{
      margin-bottom: 0;
      margin-top: 0;
    }
    &-1{
      margin-bottom: .33rem;
      margin-top: .33rem;
    }
    &-2{
      margin-bottom: .66rem;
      margin-top: .66rem;
    }
    &-3{
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    &-4{
      margin-bottom: 1.33rem;
      margin-top: 1.33rem;
    }
    &-5{
      margin-bottom: 1.66rem;
      margin-top: 1.66rem;
    }
  }
  &m{
    &-0{
      margin: 0;
    }
    &-1{
      margin: .33rem;
    }
    &-2{
      margin: .66rem;
    }
    &-3{
      margin: 1rem;
    }
    &-4{
      margin: 1.33rem;
    }
    &-5{
      margin-left: 1.66rem;
    }
  }
}