.u-{
  &pt{
    &-0{
      padding-top: 0;
    }
    &-1{
      padding-top: .33rem;
    }
    &-2{
      padding-top: .66rem;
    }
    &-3{
      padding-top: 1rem;
    }
    &-4{
      padding-top: 1.33rem;
    }
    &-5{
      padding-top: 1.66rem;
    }
  }
  &pb{
    &-0{
      padding-bottom: 0;
    }
    &-1{
      padding-bottom: .33rem;
    }
    &-2{
      padding-bottom: .66rem;
    }
    &-3{
      padding-bottom: 1rem;
    }
    &-4{
      padding-bottom: 1.33rem;
    }
    &-5{
      padding-bottom: 1.66rem;
    }
  }
  &pr{
    &-0{
      padding-right: 0;
    }
    &-1{
      padding-right: .33rem;
    }
    &-2{
      padding-right: .66rem;
    }
    &-3{
      padding-right: 1rem;
    }
    &-4{
      padding-right: 1.33rem;
    }
    &-5{
      padding-right: 1.66rem;
    }
  }
  &pl{
    &-0{
      padding-left: 0;
    }
    &-1{
      padding-left: .33rem;
    }
    &-2{
      padding-left: .66rem;
    }
    &-3{
      padding-left: 1rem;
    }
    &-4{
      padding-left: 1.33rem;
    }
    &-5{
      padding-left: 1.66rem;
    }
  }
  &px{
    &-0{
      padding-left: 0;
      padding-right: 0;
    }
    &-1{
      padding-left: .33rem;
      padding-right: .33rem;
    }
    &-2{
      padding-left: .66rem;
      padding-right: .66rem;
    }
    &-3{
      padding-left: 1rem;
      padding-right: 1rem;
    }
    &-4{
      padding-left: 1.33rem;
      padding-right: 1.33rem;
    }
    &-5{
      padding-left: 1.66rem;
      padding-right: 1.66rem;
    }
  }
  &py{
    &-0{
      padding-bottom: 0;
      padding-top: 0;
    }
    &-1{
      padding-bottom: .33rem;
      padding-top: .33rem;
    }
    &-2{
      padding-bottom: .66rem;
      padding-top: .66rem;
    }
    &-3{
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
    &-4{
      padding-bottom: 1.33rem;
      padding-top: 1.33rem;
    }
    &-5{
      padding-bottom: 1.66rem;
      padding-top: 1.66rem;
    }
  }
  &p{
    &-0{
      padding: 0;
    }
    &-1{
      padding: .33rem;
    }
    &-2{
      padding: .66rem;
    }
    &-3{
      padding: 1rem;
    }
    &-4{
      padding: 1.33rem;
    }
    &-5{
      padding-left: 1.66rem;
    }
  }
}