.m-item-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color:black;
  transition: .3s ease;
  &:hover{
    background-color: lighten($primary, 30%);
    color: white;
  }
}