html, body, #root, .p-body{
  height: 100%;
}

.p-body {
  position: relative;
  background-image: radial-gradient(#4E4E4E 5%,#262626 150%);
  &__nav {
    header{
      background-image: radial-gradient(#4E4E4E 5%,hsl(0, 0%, 15%) 150%);
      // box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.1);
      box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
    }
  }
  &__main {
    padding-top: 56px;
    @media (min-width: 600px) {
      padding-top: 64px;
    }
  }
  &__navigation {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
