html, body, #root, .p-body{
  height: 100%;
}

.p-body {
  position: relative;
  &__main {
    padding-top: 56px;
  }
  &__navigation {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
