html, body, #root, .p-body{
  height: 100%;
}

.p-body {
  position: relative;
  background-image: radial-gradient(#4E4E4E 5%,#262626 150%);
  &__main {
    padding-top: 56px;
    @media (min-width: 600px) {
      padding-top: 64px;
    }
  }
  &__navigation {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
